* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, "Segoe UI", Roboto, "Open Sans", sans-serif;
}

body {
  margin: 1em;
}

input,
select,
textarea {
  font-size: 1em;
  font-family: system-ui, "Segoe UI", Roboto, "Open Sans", sans-serif;
}

.register_form {
  display: grid;
  gap: 1em;
}

.form_group {
  display: grid;
  gap: 1em;
  padding: 1em;
  border: solid 0.1em black;
  border-radius: 0.5em;
}

.form_error {
  font-weight: 700;
  color: hsl(0, 85%, 60%);
}

.form_group_requiredfield {
  font-weight: 700;
  color: hsl(0, 85%, 60%);
}
